@use '../util' as *;

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-comfortaa);
  background-color: var(--background-opacity);
  padding: 0 rem(25);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid black;
  height: rem(50);
  width: 100vw;
  z-index: 100;

  &__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(10);
    z-index: 100 !important;
    cursor: pointer;

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--textColor);
      border: 1px solid var(--primary);
      width: rem(40);
      height: rem(40);
      border-radius: 100%;
    }
  }

  &__tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: rem(20);

    &__list {
      display: none;

      @include breakpoint(large) {
        display: inline;
      }
    }
    .toggle_btn {
      padding: 0;
      cursor: pointer;
      border: none;
      border-radius: rem(5);
      color: var(--background);
      background-color: var(--toggle-btn-color);
      height: rem(40);
      width: rem(40);
    }
  }
}

.hamburger {
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: rem(5);
  height: rem(40);
  width: rem(40);
  background-color: var(--textColor);
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(large) {
    display: none;
  }
}
