@use '../util/' as *;

//START - Main Section Styles
.section__main {
  display: flex;
  flex-direction: column;
  margin-top: rem(70);
  min-height: 90vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include breakpoint(medium) {
      min-height: 70vh;
      gap: rem(10);
    }

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      @include breakpoint(medium) {
        display: flex;
        flex: 0.5;
      }

      &__upperText {
        font-size: 5.5em;
        font-weight: bolder;
        margin: 0;
      }
      &__lowerText {
        font-size: 2.5em;
        margin: rem(10) 0;
      }
      &__button {
        text-align: center;
        padding: rem(15) rem(30);
        border: none;
        border-radius: rem(5);
        background-color: var(--callBGColor);
        color: var(--callTextColor);
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: rem(1);
      }
    }
    &__right {
      display: none;
      position: relative;
      width: 100%;

      @include breakpoint(medium) {
        position: relative;
        display: flex;
        flex: 0.5;
      }

      &__image {
        background-color: rebeccapurple;
        border-radius: rem(10);
        width: 100%;
        height: 100%;
      }
    }
  }

  &__bottom {
    margin-top: rem(50);
    letter-spacing: rem(1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(5);
    color: var(--textColor);
    background-color: var(--secondary);
    font-weight: bold;
  }
}
//END - Main Section Styles

//START - About Section Styles
.section__about {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: rem(10);

  &__title {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 20;
  }
  &__container {
    display: flex;
    flex-direction: column;

    @include breakpoint(large) {
      flex-direction: row;
      height: 30vh;
    }

    &__left {
      display: flex;
      width: auto;
      justify-content: center;

      &__model {
        border-radius: rem(20);

        @include breakpoint(large) {
          height: rem(300);
          width: rem(300);
        }
      }
    }
    &__right {
      flex-direction: column;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint(large) {
        justify-content: space-between;
      }

      article {
        display: block;
        z-index: 20;
        p {
          width: auto;
          margin: 0;
          margin-bottom: rem(20);
          word-spacing: 2px;
          text-align: justify;
          text-justify: inter-word;
          line-height: rem(24);
          z-index: 50;
        }
      }
      button {
        align-self: flex-end;
        width: auto;
        text-align: center;
        padding: rem(10) rem(15);
        border: none;
        border-radius: rem(5);
        background-color: var(--callBGColor);
        color: var(--callTextColor);
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: rem(1);
      }
    }
  }
}

//END - About Section Styles

//START - Skills Section Styles
.section__skills {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: rem(10);
  margin-bottom: rem(10);
  z-index: 50;

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 50;
  }
  &__upper {
    width: auto;
    height: auto;
    background-color: var(--textColor);
    border-radius: rem(10);
  }
  &__lower {
    width: auto;
    height: auto;
    background-color: var(--textColor);
    color: #000;
    border-radius: rem(10);
    z-index: 50;
  }
  &__button {
    align-self: center;
    width: auto;
    text-align: center;
    padding: rem(10) rem(20);
    border: none;
    border-radius: rem(5);
    background-color: var(--callBGColor);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: rem(1);

    a {
      color: var(--callTextColor);
    }
  }
}
//END - Skills Section Styles

//START - Contact Section Styles
.section__contact {
  display: flex;
  flex-direction: column;

  &__upper {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__lower {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    @include breakpoint(medium) {
      flex-direction: row;
      width: auto;
      justify-content: space-between;

      &__left {
        flex: 0.3;
      }
      &__right {
        flex: 0.7;
      }
    }
  }
}
//END - Contact Section Styles
