@use '../util/' as *;

.container {
  padding: 0 rem(5);
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    color: var(--textColor);
  }
  @include breakpoint(medium) {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: rem(20);
  }
}
.link__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(medium) {
    flex-direction: row;

    &__logo {
      padding-right: rem(10);
    }
  }

  &__text {
    display: inline;
    @include breakpoint-down(small) {
      display: none;
    }
  }
}
