@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-lato);
  font-size: rem(16); /* Defaults */
  background-color: var(--background);
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: rem(5);
}
::-webkit-scrollbar-track {
  background: var(--secondary);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-opacity);
  border-radius: rem(5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--textColor);
}
button {
  cursor: pointer;
  font-size: var(--fs-btn);
}
