@use '../util' as *;

.container {
  /* Mobile First */
  margin: 0 auto;
  max-width: calc(100vw * 0.95);
  padding: 0 rem(5);
  width: 100%;

  @include breakpoint(medium) {
    max-width: calc(100vw * 0.7);
    padding: 0 rem(10);
    width: 100%;
  }
}
